<?xml version="1.0" encoding="utf-8"?>

<phpunit bootstrap="vendor/autoload.php"
         strict="true"
         colors="true"
         verbose="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false">
    <testsuites>
        <testsuite name="unit">
            <directory suffix=".php">tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
